/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | TAB  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | ESC  |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// |SHFT( |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |SHFT) |
//                    | GUI | LWR | CTL |   | SPC | RSE  | ALT |
                        bindings = <
   &kp TAB        &kp Q &kp W &kp E &kp R &kp T   &kp Y     &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp ESC        &kp A &kp S &kp D &kp F &kp G   &kp H     &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &mt LSHFT LPAR &kp Z &kp X &kp C &kp V &kp B   &kp N     &kp M  &kp COMMA &kp DOT &kp FSLH &mt RSHFT RPAR
                               &kp LGUI &mo 1 &kp LCTRL     &kp SPACE &mo 2 &kp RALT
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// | ` ~ |PGUP | HOME| UP  | END |     |   |  -  |  7  |  8  |  9  |     | BKSP |
// | ESC |PGDN | LFT | DWN | RGT |     |   |  _  |  4  |  5  |  6  |  =  |      |
// |SHF[ |     |     |     |     |     |   |  0  |  1  |  2  |  3  |     | SHF] |
//                   | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp GRAVE        &kp PG_UP  &kp HOME  &kp UP    &kp END    &trans         &kp MINUS  &kp N7   &kp N8   &kp N9  &kp PLUS  &kp BSPC
   &bt ESC          &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &trans         &kp UNDER  &kp N4   &kp N5   &kp N6  &kp EQUAL &trans
   &mt LSHFT LBKT   &trans     &trans    &trans    &trans     &trans         &kp N0     &kp N1   &kp N2   &kp N3  &trans    &mt RSHFT RBKT
                                         &kp LGUI  &trans     &kp SPACE      &kp RET    &trans   &kp RALT
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// | ` ~  |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | DEL  |
// | ESC  |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |  `   |
// |SHFT{ |     |     |     | BT0 | BT1 |   | BT2 |     |     |BTCLR|  \  | SHFT}|
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp GRAVE      &kp EXCL  &kp AT  &kp HASH  &kp DLLR     &kp PRCNT            &kp CARET    &kp AMPS  &kp KP_MULTIPLY &kp LPAR   &kp RPAR &kp DEL
   &kp ESC        &kp N1    &kp N2  &kp N3    &kp N4       &kp N5               &kp N6       &kp N7    &kp N8          &kp N9     &kp N0   &kp GRAVE
   &mt LSHFT LBRC &trans    &trans  &trans    &bt BT_SEL 0 &bt BT_SEL 1         &bt BT_SEL 2 &trans    &trans          &bt BT_CLR &kp BSLH &mt RSHFT RBRC
                                    &kp LGUI  &trans       &kp SPACE            &kp RET    &trans    &kp RALT
                        >;
                };
        };
};
